/* 全局样式 */
html,body,#app{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.el-table,.zk-table{
    margin-top: 15px;
}
.box-card{
    margin-top: 15px;
  }
.el-pagination{
    margin-top: 15px;
}